* {
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: #eeeeee;
    height: 100%;
}

/*Убираем у картинок лишние пиксели внизу*/
img {
    display: inline-block;
    vertical-align: top;
}

.container {
    max-width: 1280px;
    margin: 0px auto;
    min-height: 100%;
}

/* header */

header {
    background-image: url(../img/fon_header.png);
    background-repeat: repeat;
    max-width: 100%;
    height: 205px;
    border-bottom: 3px solid #ad0000;
}

.head1 {
    float: left;
    margin-top: 20px;
    margin-left: 50px;
}

.head2 {
    float: right;
    margin-right: 20px;
    margin-top: 10px;
}

.head3 {
    clear: both;
    float: right;
    margin: -107px 0 0 0;
}

.menu_head {
    list-style-type: none;
    display: inline-block;
    width: 170px;
    height: 25px;
    margin-right: 5px;
    border-radius: 10px;
    border: 1px solid #afafaf;
    box-shadow: 0.3em 0.3em 3px #55555580;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 25px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.menu_tekus {
    background-color: #dadada;
    box-shadow: none;
    border: 1px solid #cccccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.menu li:hover {
    background-color: #dadada;

}

.menu li:active {
    box-shadow: none;
    border: 1px solid #dadada;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.menu a {
    text-decoration: none;
    color: #555555;
    display: block;
    width: 100%;
    height: 100%;
}

.content {
    width: 90%;
    margin: 0px auto;
    min-height: 100%;
    padding-bottom: 15px;
    min-height: calc(100vh - 170px - 205px);
}

h1,
h3 {
    margin: 20px auto;
    background-color: #dddddd;
    text-align: center;
    color: #fc8701;
    border: 3px solid #b9c0bb;
    border-radius: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h2 {
    margin: 20px auto;
    text-align: center;
    border: 3px solid #b9c0bb;
    border-radius: 10px;
    background-color: #d6d6d6;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*.hashteg {
    text-align: left;
    margin: 20px 0px;
    width: auto;
    color: #ce0067;
    font-weight: bold;
    font-size: 30px;
}*/

.heading {
    color: #0513db;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    width: 100%;
}

p {
    text-indent: 20px;
}

/* catalog_pages */

.catalog {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.catalog1 {
    margin: 0 10px 40px 10px;
}

.img-cat {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    margin: 0 auto;
}

.catalog_figure:hover {
    outline: 4px solid #ff0101;
}

.img-cat-figuration {
    margin: 15px 0 0 0;
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    color: #9d34ff;
}

.zakaz {
    margin: 20px 0 0 0;
    clear: both;
    background-color: #fcb5b5;
    border-radius: 10px;
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    list-style-type: none;
    width: 150px;
    height: 20px;
    line-height: 20px;
    box-shadow: 0.2em 0.2em 3px #a88b8b80;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.zakaz:hover {
    background-color: #ffcdcd;
}

.zakaz a {
    color: #f80000;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}

.zakaz:active {
    box-shadow: none;
}

.zakaz a:active {
    color: #ff4040;
}

.one {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

.one:first-letter {
    font-size: 30px;
    color: #ec0e0e;
}

.one1 {
    font-size: 18px;
}

.one1:first-letter {
    font-size: 22px;
    color: #ec0e0e;
}

.text:first-letter {
    font-size: 20px;
    color: #ec0e0e;
}

.link {
    position: relative;
    top: 50px;
    left: 10px;
    text-decoration: none;
    text-transform: lowercase;
}

.list {
    list-style-type: none;
    font-size: 18px;
    color: #1900ff;
    margin-bottom: 50px;
}

.list li:nth-child(2):after {
    content: " >> new! <<";
    color: #ff0000;
    text-transform: uppercase;
}

.list1 {
    list-style-type: none;
}

.list2 {
    list-style-image: url(img/marker.jpg);
    margin: 10px auto 20px 15px;
}

.catalog a {
    text-decoration: none;
}

/* contacts */

.form {
    font-style: italic;
    width: 60%;
    border: 3px solid #5146ee;
    border-radius: 7px;
    margin: 0 auto;
    padding: 8px 15px 17px 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input[type="text"],
input[type="email"] {
    border-radius: 4px;
    width: 300px;
    padding: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Times New Roman';
    font-size: 12px;
    color: #000000;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input[type="email"] {
    text-transform: lowercase;
}

input:focus {
    outline: none;
}

textarea {
    width: 100%;
    border-radius: 4px;
    padding: 3px;
    margin-top: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Times New Roman';
    font-size: 12px;
}

textarea:focus {
    outline: none;
}

.snoska {
    font-size: 11px;
    margin: 5px 0 10px 10px;
}

.form_pers_dan {
    margin: 0 0 15px 0;
}
.button {
    display: flex;
    flex-wrap: wrap;
}

input[type="submit"],
input[type="reset"] {
    background-color: #d6d6d6;
    border-color: transparent;
    box-shadow: 0.15em 0.15em 2px #a88b8b80;
    border-radius: 8px;
    width: 140px;
    height: 25px;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 7px 10px 7px;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #c2c2c2;
}

input[type="submit"]:active,
input[type="reset"]:active {
    border: none;
    box-shadow: none;
}

.menu_kont {
    list-style-type: none;
    text-align: center;
}

.menu_kont a {
    text-decoration: none;
    color: #000;
    text-align: center;
}

.menu_kont li {
    margin: 0 0 5px 0;
    font-weight: 600;
}

.karta {
    width: 70%;
    height: 374px;
    margin: 0 auto;
    margin-top: 15px;
}

.tab1 {
    border: 1px solid #000;
    max-width: 700px;
    height: 300px;
    border-collapse: collapse;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.tab1 td {
    border: 1px solid #000;
    padding: 5px;
    vertical-align: middle;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.five {
    font-size: 50px;
    font-weight: bold;
    color: #f8134c;
    height: 60px;
}

.tab1 tr:nth-child(2n) {
    background-color: #08f828;
}

.tab1 tr:nth-child(2n-1) {
    background-color: #a5faf6;
}

.tab1 tr:nth-child(7) {
    background-color: #08f828;
}

.tab_tovar {
    margin: 0 auto;
    border: 1px solid #000;
    max-width: 700px;
    height: 300px;
    border-collapse: collapse;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.tab_tovar td {
    border: 1px solid #000;
    padding: 5px;
    vertical-align: middle;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.tab_har {
    font-size: 40px;
    font-weight: bold;
    color: #f8134c;
    height: 50px;
}

.tovar {
    display: flex;
    justify-content: center;
}

.img_tov {
    margin: 0 50px 0 0;
}

.soglashenie {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

/* footer */

footer {
    height: 170px;
    margin: 0px auto;
    background-image: url(../img/fon_footer.png);
    background-repeat: repeat;
    border-top: 4px solid #f8134c;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.footer-content {
    display: flex;
    justify-content: space-evenly;
    min-width: 100%;
    border-bottom: 1px solid #8d8d8d;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.footer1 {
    margin: 30px 0 20px 0;
    width: 350px;
}

.menu_footer,
.menu_footer_kont {
    list-style-type: none;
}

.menu_footer1,
.logo_footer,
.menu_footer_kont1 {
    margin: 0 0 5px 0;
    text-align: center;
}

.menu_footer li,
.menu_footer_kont li {
    border-bottom: 1px solid #cecece;
    margin: 0 0 5px 0;
    font-weight: 700;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.logo_footer {
    font-size: 14px;
}

.logo_footer img {
    width: 80px;
}

.menu_footer_kont {
    font-size: 14px;
}

.menu_footer a,
.menu_footer_kont a {
    text-decoration: none;
    color: #4e4e4e;
}

.menu_footer a:hover,
.menu_footer_kont a:hover {
    color: #2b2b2b;
    filter: brightness(80%);
}

.footer-copyright {
    min-width: 100%;
    margin: 10px 0 0 0;
    text-align: center;
}

.footer-copyright a {
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 1px;
    color: #000000;
}

.footer-copyright a:hover {
    color: #555555;
}

@media (min-width: 1200px) {
    .hamburger-menu {
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .hamburger-menu {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .head1 {
        margin: 10px 0 0 10px;
    }
    .hamburger-menu {
        display: none;
    }
    .head2 {
        margin: 10px 5px 0 0;
    }
    .menu_head {
        width: 134px;
    }    
    .head3 {
        margin-top: -97px;
    }
    .form {
        font-size: 13px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .head1 {
        margin: 10px 0 0 10px;
    }
    #menu__toggle {
        opacity: 0;
    }
    #menu__toggle:checked~.menu__btn>span {
        transform: rotate(45deg);
    }
    #menu__toggle:checked~.menu__btn>span::before {
        top: 0;
        transform: rotate(0);
    }
    #menu__toggle:checked~.menu__btn>span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu__toggle:checked~.menu__box {
        visibility: visible;
        right: 0;
    }
    .menu__btn {
        display: flex;
        align-items: center;
        position: fixed;
        top: 10px;
        right: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }
    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
        transition-duration: .25s;
    }
    .menu__btn>span::before {
        content: '';
        top: -8px;
    }
    .menu__btn>span::after {
        content: '';
        top: 8px;
    }
    .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        right: 100%;
        width: 170px;
        margin: 0;
        padding: 7px 0;
        list-style: none;
        background-color: #ECEFF1;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
        transition-duration: .25s;
    }
    .menu__item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
    }
    .menu__item:hover {
        background-color: #CFD8DC;
    }
    .head2 {
        display: none;
    }
    .menu_head {
        width: 134px;
    }    
    .head3 {
        margin-top: -97px;
    }
    .form {
        font-size: 12px;
    }
    input[type="text"],
    input[type="email"] {
    width: 200px;
    }
    .button {
        justify-content:center;
    }
    input[type="submit"],
    input[type="reset"] {
        width: 120px;
        font-size: 12px;
    }
}

@media (min-width: 480px) and (max-width: 575.98px) {
    .head1 {
        margin: 10px 0 0 10px;
    }
    .head1 img {
        width: 95px;
        height: 95px;
    }
    #menu__toggle {
        opacity: 0;
    }
    #menu__toggle:checked~.menu__btn>span {
        transform: rotate(45deg);
    }
    #menu__toggle:checked~.menu__btn>span::before {
        top: 0;
        transform: rotate(0);
    }
    #menu__toggle:checked~.menu__btn>span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu__toggle:checked~.menu__box {
        visibility: visible;
        right: 0;
    }
    .menu__btn {
        display: flex;
        align-items: center;
        position: fixed;
        top: 10px;
        right: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }
    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
        transition-duration: .25s;
    }
    .menu__btn>span::before {
        content: '';
        top: -8px;
    }
    .menu__btn>span::after {
        content: '';
        top: 8px;
    }
    .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        right: 100%;
        width: 170px;
        margin: 0;
        padding: 7px 0;
        list-style: none;
        background-color: #ECEFF1;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
        transition-duration: .25s;
    }
    .menu__item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
    }
    .menu__item:hover {
        background-color: #CFD8DC;
    }
    .head2 {
        display: none;
    }
    .menu_head {
        width: 134px;
    }
    .head3 {
        margin-top: 0;
    }
    .head3 img {
        width: 267px;
        height: 100px;
    }
    .form {
        font-size: 11px;
    }
    input[type="text"],
    input[type="email"] {
        width: auto;
    }
    .button {
        justify-content:center;
    }
    input[type="submit"],
    input[type="reset"] {
        width: 95px;
        font-size: 10px;
    }
    .tovar {
        flex-direction: column;
    }
    .img_tov {
        margin: 0 auto;
    }
    .zakaz {
        margin: 20px auto 0 auto;
    }
    .footer1 {
        width: auto;
    }
    .menu_footer {
        display: none;
    }
}

@media (max-width: 489.98px) {
    .head1 {
        margin: 10px 0 0 10px;
    }
    .head1 img {
        width: 95px;
        height: 95px;
    }
    #menu__toggle {
        opacity: 0;
    }
    #menu__toggle:checked~.menu__btn>span {
        transform: rotate(45deg);
    }
    #menu__toggle:checked~.menu__btn>span::before {
        top: 0;
        transform: rotate(0);
    }
    #menu__toggle:checked~.menu__btn>span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu__toggle:checked~.menu__box {
        visibility: visible;
        right: 0;
    }
    .menu__btn {
        display: flex;
        align-items: center;
        position: fixed;
        top: 10px;
        right: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }
    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
        transition-duration: .25s;
    }
    .menu__btn>span::before {
        content: '';
        top: -8px;
    }
    .menu__btn>span::after {
        content: '';
        top: 8px;
    }
    .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        right: 100%;
        width: 170px;
        margin: 0;
        padding: 7px 0;
        list-style: none;
        background-color: #ECEFF1;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
        transition-duration: .25s;
    }
    .menu__item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
    }
    .menu__item:hover {
        background-color: #CFD8DC;
    }
    .head2 {
        display: none;
    }
    .menu_head {
        width: 134px;
    }    
    .head3 {
        margin-top: 0;
    }
    .head3 img {
        width: 267px;
        height: 100px;
    }
    .form {
        font-size: 10px;
    }
    input[type="text"],
    input[type="email"] {
    width: 125px;
    }
    .button {
        justify-content:center;
    }
    input[type="submit"],
    input[type="reset"] {
        width: 95px;
        font-size: 10px;
    }
    .tovar {
        flex-direction: column;
    }
    .img_tov {
        margin: 0 auto;
    }
    .zakaz {
    margin: 20px auto 0 auto;
    }
    .tab_tovar {
        font-size: 13px;
    }
    .tab_har {
        font-size: 30px;
        height: 40px;
    }
    .footer1 {
        width: auto;
        flex-wrap: wrap;
    }
    .menu_footer {
        display: none;
    }
}